body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

input {
  display: none;
  width: 12rem;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(143, 143, 143)
}

input:focus {
  border-color: #333;
}

.code {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 18em;
  font-weight: 700;
  color: #333333;
}

.key,
.press-key {
  display: none;
  font-size: 2em;
  color: #706c61;
  padding: 5px 13px;
  border-radius: 3px;
  background-color: rgb(230, 230, 230);
}